.main-sider {
  padding-left: 10px;
  margin-right: 20px;
  background-color: #fff;
  
  .guide-word {
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
  }
  .ant-tree {
    font-size: 12px;
    height: calc(100% - 40px);
    overflow-y: auto;
  } 
  .ant-tree li .ant-tree-node-content-wrapper{
    height: 16px;
    line-height: 16px;
    //padding: 0 2px;
  }
  .ant-tree li ul {
    padding: 0 0 0 12px;
  }
  .ant-tree li span.ant-tree-switcher{
    height: 16px;
    width: 16px;
    line-height: 10px;
  }
  .ant-tree li .ant-tree-node-content-wrapper.ant-tree-node-selected {
    background-color: #fff;
    color: #00c1de;
  }
}