.custom-trigger {
  vertical-align: top;
  font-size: 18px;
  line-height: 50px;
  padding: 0 16px;
  cursor: pointer;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
}