.ant-tree {
  font-size: 14px;
  height: 100%;
  li .ant-tree-node-content-wrapper{
    height: 16px;
    line-height: 16px;
    //padding: 0 2px;
  }
  li ul {
    padding: 0 0 0 12px;
  }
  li span.ant-tree-switcher{
    height: 16px;
    width: 16px;
    line-height: 10px;
  }
  li .ant-tree-node-content-wrapper.ant-tree-node-selected {
    background-color: #fff;
    color: #00c1de;
  }
  .ant-tree-child-tree > li > span {
    vertical-align: baseline;
  }
} 