@import '~@/style/variables.scss';
.tabs {
  margin-bottom: 26px;
  border-bottom: 1px solid #ccc;
	li {
    display: inline-block;
    padding-bottom: 8px;
    cursor: pointer;
    span {
      display: inline-block;
      padding: 0 20px;
      font-size: 16px;
      line-height: 16px;
      border-right: 1px solid $theme-color;
    }
    &:last-child span {
      border-right: 0;
    }
  }
  .this {
    color: $theme-color;
    border-bottom: 4px solid $theme-color;
  }
}