.sider {
	background-color: #37485f;
	overflow-y: scroll;
	&::-webkit-scrollbar {
		width: 0;
		height: 0;
	}
	.sider-logo {
		display: block;
		padding: 10px 0; 
		cursor: pointer;
		width: calc( 100% - 30px );
		margin: 0 auto;
	}	
	.ant-menu, .ant-menu .ant-menu-sub {
		background-color: inherit!important;
	}
	.ant-menu-inline .ant-menu-submenu-title {
		font-size: 15px;
		font-weight: bold;
		text-align: center;
		margin: 2px 0;
	}
	.ant-menu-inline .ant-menu-submenu-title {
		background-color: #506480;
	}
	.ant-menu,
	.ant-menu .ant-menu-item, 
	.ant-menu .ant-menu-item-group-title, 
	.ant-menu .ant-menu-item > a {
		color: #fff;
	}
	.ant-menu .ant-menu-submenu-title .ant-menu-submenu-arrow, 
	.ant-menu .ant-menu-sub .ant-menu-submenu-title .ant-menu-submenu-arrow {
		left: 16px;
	}
	.ant-menu .ant-menu-inline.ant-menu-sub {
		box-shadow: none;
	}
	.ant-menu-sub.ant-menu-inline > .ant-menu-item {
		padding-left: 24px!important;
	}
	.ant-menu .ant-menu-item {
		color: #fff;
		i.i {
			display: inline-block;
			width: 18px;
			height: 18px;
			margin-right: 8px;
			vertical-align: sub;
			background-size: 90%;
		}
	}
}