.sider {
	background-color: #37485f;
	.sider-logo {
		display: block;
		padding: 10px 0; 
		cursor: pointer;
		width: calc( 100% - 30px );
		margin: 0 auto;
	}	
	.ant-menu, .ant-menu .ant-menu-sub {
		background-color: inherit!important;
	}
	.ant-menu-inline .ant-menu-submenu-title {
		font-size: 15px;
		font-weight: bold;
		text-align: center;
	}
	.ant-menu,
	.ant-menu .ant-menu-item, 
	.ant-menu .ant-menu-item-group-title, 
	.ant-menu .ant-menu-item > a {
		color: rgba(256, 256, 256, .65);
	}
	.ant-menu .ant-menu-submenu-title .ant-menu-submenu-arrow, 
	.ant-menu .ant-menu-sub .ant-menu-submenu-title .ant-menu-submenu-arrow {
		left: 16px;
	}
	.ant-menu .ant-menu-inline.ant-menu-sub {
		box-shadow: none;
	}
	.ant-menu-sub.ant-menu-inline > .ant-menu-item {
		padding-left: 24px!important;
	}
	.ant-menu .ant-menu-submenu-active,
	.ant-menu .ant-menu-submenu-selected,
	.ant-menu .ant-menu-item-selected {
		color: #fff;
	}
}