@import './reset.scss';
@import './variables.scss';
.w-100 { width: 100px }
.w-150 { width: 150px }
.w-200 { width: 200px }
.w-250 { width: 250px }
.w-300 { width: 300px }
.w-400 { width: 400px }
.w-500 { width: 500px }
.mg-v { margin: 0 0 }
.mg-v-5 { margin: 5px 0 }
.mg-v-10 { margin: 10px 0 }
.mg-v-15 { margin: 15px 0 }
.mg-v-20 { margin: 20px 0 }
.mg-v-25 { margin: 25px 0 }
.mg-v-30 { margin: 30px 0 }
.mg-v-50 { margin: 50px 0 }
a {
  color: #fff;
}
body {
	min-width: 350px;
	#root {
		height: 100%;
		color: #666;
		font-size: 13px;
	}
	p, ul, dl, ol {
		margin: 0;
	}
}
.ant-table-thead > tr > th {
  background-color: #BDDCF8!important;
  font-weight: bold;
}
.ant-table .span {
	color: $theme-color!important;
	cursor: pointer!important;
}
.ant-pagination {
	text-align: center!important;
	margin-top: 15px!important;
}
.ant-btn {
	height: 34px!important;
	font-size: 14px!important;
	height: 34px;
	> i {
		display: inline-block;
		width: 18px;
		height: 18px;
		margin-right: 2px;
		vertical-align: sub;
	}
	span {
		vertical-align: text-bottom;
	}
}	
.ant-input:not(textarea) {
	height: 34px!important;
}
textarea.ant-input {
	min-height: 34px;
}

.ant-form-item-label {
	line-height: 39.9999px!important;
	padding-bottom: 0!important;
}
.ant-confirm {
	top: 200px!important;
}
// ::-webkit-scrollbar {
// 	width: 6px;
// 	height: 6px;
// }

// ::-webkit-scrollbar-thumb {
// 	border-radius: 4px;
// 	background-color: hsla(220,4%,58%,.3);
// }