.sider {
	background-color: #293038;
	.sider-logo {
		display: block;
		padding: 10px 0; 
		cursor: pointer;
		width: calc( 100% - 30px );
		margin: 0 auto;
	}	
}
.header {
	background-color: #fff;
	height: 50px;
	line-height: 50px;
	padding: 0;
}
.ant-layout {
	background-color: #F8F8F8;
	.ant-layout-content {
		.main {
			padding: 0 20px;
			.main-content {
			}
		}
	}
	
}
.main {
	.search-area li{
		padding: 15px 0;
		
	}
}