@import '../../components/header/index.scss';
.ant-layout {
	background-color: #F8F8F8;
	 > .ant-layout-content {
		padding: 0 0 0 10px;
		height: auto;
		.main {
			.main-container {
				background-color: #fff;
				margin-top: 10px;
				padding: 26px 30px;
			}
		}
	}
}
