@import '../../components/header/index.scss';
.ant-layout {
	background-color: #F8F8F8;
	 > .ant-layout-content {
		background-color: #eee;
		padding: 0 0 0 10px;
		height: auto;
		.main {
			height: calc( 100% );
			.main-handle {
				margin-bottom: 16px;
				> div {
					margin: 4px 0 8px 0;
				}
			}
			.main-container {
				height: calc( 100% - 50px );
				background-color: #fff;
				margin-top: 10px;
				padding: 20px 30px;
			}
		}
	}
}
