.bg {
	height: 100%;
	background: url('../imgs/bg.jpg') no-repeat 0 0;
	background-size: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	.logo-name {
		position: absolute;
		left: 0;
		top: 0;
	}
	.login-form {
		width: 330px;
	  padding: 40px;
	  border-radius: 10px;
	  box-shadow: #666 0px 0px 10px;
	  background-color: #fff;
	  .logo1 {
	  	width: 50%;
	  	display: block;
	  	margin: 0 auto;
	  }
	  .logo2 {
	  	width: 100%;
	  	margin: 25px auto;
	  }
	}
	.ant-form-item {
		margin-bottom: 16px;
	}
	.ant-form-item-with-help {
		margin-bottom: 0;
		.ant-form-explain {
			font-size: 12px;
		}
	}
	.login-form-forgot {
	  float: right;
	}
	.login-form-button {
	  width: 100%;
	}
}
.copy-right{
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 7px;
	text-align: center;
	p {
		display: block;
		width: 100%;
		margin-bottom: 5px;
	}
}
